    .header {
        width: 100%;
        height: 80px;
        background-color: white;
        line-height: 80px;
        color: #463BAC;
        box-shadow: #4b0b0b;
    }
    
    .nav__line {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #0e0ac2;
        margin-top: 5px;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    
    .nav__item.active .nav__line,
    .nav__item:hover .nav__line {
        transform: scaleX(1);
    }
    
    .nav__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        column-gap: 1.3rem;
    }
    
    .nav__item a {
        font-weight: 500;
        font-size: 1.1rem;
        color: #0a2b1e;
        text-decoration: none;
        transition: 0.3s;
        color: rgb(71, 29, 29);
    }
    
    .nav__item a:hover {
        color: #0e0ac2;
    }
    
    .nav__item a:active {
        color: #0e0ac2;
    }
    
    .nav__right p {
        font-weight: 500;
        color: #0a2b1e;
        font-size: 1.1rem;
    }
    
    .nav__right p i {
        font-size: 1.3rem;
    }
    
    .mobile__menu span i {
        font-size: 1.4rem;
        color: #0a2b1e;
        cursor: pointer;
    }
    
    .mobile__menu {
        display: none;
    }
    
    @media only screen and (max-width: 991px) {
        .nav__menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0a2b1ec2;
            z-index: 99;
            display: none;
        }
        .nav__list {
            position: absolute;
            background: #fff;
            top: 0;
            right: 0;
            width: 250px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 999;
            padding-top: 80px;
        }
        .mobile__menu {
            display: block;
        }
        .nav__right {
            display: none;
        }
        .active__menu {
            display: block;
        }
        .dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 9999;
            background-color: #fff;
            min-width: 160px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 0 0 4px 4px;
        }
        .show {
            display: block;
        }
        .dropdown li {
            display: block;
            padding: 10px;
        }
        .dropdown li:hover {
            background-color: #463BAC;
        }
    }
    
    .header {
        width: 100%;
        height: 80px;
        background: white;
        line-height: 80px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid #ccc;
    }
    
    .nav__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        column-gap: 1.3rem;
    }
    /* color: #8d8cd1; */
    
    .nav__item a {
        font-weight: 500;
        font-size: 1.1rem;
        color: #01010c;
        text-decoration: none;
        transition: 0.3s;
    }
    /* 463BAC */
    
    .nav__line {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #0e0ac2;
        margin-top: 5px;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    
    .nav__item.active .nav__line,
    .nav__item:hover .nav__line {
        transform: scaleX(1);
    }
    
    .nav__item a:hover {
        color: #0e0ac2;
    }
    
    .nav__item a:active {
        color: #0e0ac2;
    }
    
    .nav__right p {
        font-weight: 500;
        color: white;
        font-size: 1.1rem;
    }
    
    .nav__right p i {
        font-size: 1.3rem;
    }
    
    .mobile__menu span i {
        font-size: 1.4rem;
        color: #0a2b1e;
        cursor: pointer;
    }
    
    .mobile__menu {
        display: none;
    }
    
    @media only screen and (max-width: 991px) {
        .nav__menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0a2b1ec2;
            z-index: 99;
            display: none;
        }
        .nav__list {
            position: absolute;
            background: #fff;
            top: 0;
            right: 0;
            width: 250px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 999;
            padding-top: 80px;
        }
        .mobile__menu {
            display: block;
        }
        .nav__right {
            display: none;
        }
        .active__menu {
            display: block;
        }
        .dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 9999;
            background-color: #fff;
            min-width: 160px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 0 0 4px 4px;
        }
        .show {
            display: block;
        }
        .dropdown li {
            display: block;
            padding: 10px;
        }
        .dropdown li:hover {
            background-color: #f2f2f2;
        }
    }